<div class="content">
	<h3>{{title}}</h3>
	<div class="panel panel-default edit-data">
		<div class="panel-heading">Edit report properties <a ui-sref="report({id: report._id.$oid})">(Go to the report page)</a></div>
		<div class="panel-body">
			<div class="form-group">
				<label for="title" class="control-label">Title</label>
				<input type="text" class="form-control" id="title" ng-model="title">
			</div>
			<div>
				<button class="btn btn-primary btn-sm" ng-click="saveProperties()" type="submit">Save properties</button>
			</div>
		</div>
	</div>
	<div class="panel panel-default edit-data">
		<div class="panel-heading">Edit data <a ui-sref="report({id: report._id.$oid})">(Go to the report page)</a></div>
		<div class="panel-body">
			<div grid source-data='report' update="reportData"></div>
		</div>
	</div>
	<div>
		<button class="btn btn-primary btn-sm" ng-click="remove()" type="submit">Remove report</button>
	</div>
	<chart class="chart" data-width="550" data-height="300" source-data='reportData'></chart>
</div>