<form novalidate class="form-inline">
	<div class="edit-row" ng-repeat="item in reportData">
		<div class="form-group month">
			<input class="form-control input-sm" type="text" ng-model="item.month"/>
		</div>
		<div class="form-group value">
			<input class="form-control input-sm" type="number" ng-model="item.value"/>
		</div>
		<div class="form-group remove">
			<a class="remove" ng-click="remove($index)"><span class="glyphicon glyphicon-remove"></span></a>
		</div>
	</div>
	<div class="buttons form-group">
		<a  ng-click="addRow()">
			<span class="glyphicon glyphicon-plus-sign"></span> Add
		</a>
		<a ng-click="revert()">
			<span class="glyphicon glyphicon-refresh"></span> revert
		</a>
		<a ng-click="refresh()">
			<span class="glyphicon glyphicon-refresh"></span> Refresh
		</a>
		<button class="btn btn-primary btn-sm" ng-click="save()" type="submit">save</button>
	</div>
</form>