<div>
	<form novalidate class="data-grid">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Month</th>
						<th>Value</th>
						<th>remove</th>
					</tr>
				</thead>
				<tbody>
					<tr class="edit-row" ng-repeat="item in reportData">
						<td class="month">
							<input class="input-sm" type="text" ng-model="item.month"/>
						</td>
						<td class=" value">
							<input class="input-sm" type="number" ng-model="item.value"/>
						</td>
						<td class="remove">
							<a class="remove" ng-click="remove($index)"><span class="glyphicon glyphicon-remove"></span></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="buttons">
			<a ng-click="addRow()">
				<span class="glyphicon glyphicon-plus-sign"></span> Add
			</a>
			<a ng-click="revert()">
				<span class="glyphicon glyphicon-refresh"></span> Revert
			</a>
			<button class="btn btn-primary btn-sm" ng-click="save()" type="submit">save</button>
		</div>
	</form>
</div>